* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    box-shadow: 0 .5rem .5rem rgb(227, 227, 227)
}

.navBar {
    text-transform: uppercase;
    width: 70%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarIcon {
   min-height: 2rem;
   min-width: 2rem;
   flex-shrink: 1;
}

.navBarLeft {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-shrink: 1;
}

@media only screen and (max-width: 960px) {
    .navBar {
        width: 90%;
    }
}

@media only screen and (max-width: 1372px) {
    .navBar {
        width: 100%;
        justify-content: space-around;
    }

    .navBarLeft {
        margin-left: 0;
    }
}

